MAX_USER_CREDENTIAL=800
API_URL=localhost:1600
BLOCKCHAIN_VCHAIN_RPC_URL=http://test.rpc.vcex.xyz/
CREATE_POST_TARGET=500
SEARCH_POST_TARGET=500
CREATE_ORDER_TARGET=500
LIST_ONLINE_POST_TARGET=500

CREATE_GROUP_CHAT_TARGET=500

CHAT_API_KEY=09d6d2fed18c
CHAT_API_URL=http://localhost:5001
CHAT_PREFIX_HEADER=P2PD-X-API-KEY
CHAT_API_KEY_HASH=56d13ce5d05635526030000745f09f8ed7c83f7a1e47fb3ee0428c5380ebf48a
